



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --accent--:#6b0f1a;
    --active-: #3b081f; /*for headings text, main text, important labels */
    --bg-color:#dce0d9;
    --placeholder-:#898989; /*for text discriptions, helper text, small infor*/
    --border-:  #8d8f88; /* disabled buttons, input placeholders, inactive label*/
    --errors-:red;
    --valid--:green;
}
body{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column; 
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius:10px;
    border: 1px solid var(--border-);
    border-radius: 5px;
    font-size: 16px;
}
input:focus{
    outline: none;
    border-color: var(--accent--);
}
h1{
    color: var(--active-);
    text-align: center;
    margin-bottom: 20px;
}
.checkbox-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.checkbox-container input{
    width: auto;
    margin-right: 10px;
}
.checkbox-container p{
    color: var(--placeholder-);
    font-size: 14px;
    line-height: normal;
    white-space: nowrap;
}
button{
    width: 100%;
    padding: 10px;
    background-color: var(--accent--);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: var(--active-);
}
.have-account{
    color: var(--placeholder-);
    text-align: center;
    margin-top: 20px;
}
.have-account a{
    color: var(--accent--);
    text-decoration: none;
}
.have-account a:hover{
    text-decoration: underline;
}
.have-account a:active{
    color: var(--valid--);
}
.input-control{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
 .error{
    border-color:var(--errors-);
    color: var(--errors-);
    font-size: 14px;
    margin-top: -5px;
}
 .valid{
    border-color: var(--valid--);
    color: var(--valid--);
    font-size: 14px;
    margin-top: -5px;
}

